.card_depoimento {
  flex: 1 1 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid gainsboro;
  text-align: center;
}

.card_depoimento h3 {
  font-size: 24px;
  font-weight: 500;
  padding: 15px 0px;
}

.card_depoimento img {
  max-width: 100%;
  width: 400px;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.card_depoimento p {
  line-height: 25px;
  letter-spacing: 1px;
  padding: 0px 20px 20px;
  font-style: italic;
}
